/* institutes */
#cards {
    position: relative;
    top: 90px;

    background: #F2F2F2;
}

#cards .card {
    text-align: center;
    margin: 20px;
    width: 300px;
    height: 380px;
    background: #FFFFFF;
    box-shadow: 1.90323px 2.53763px 15.8602px rgba(0, 0, 0, 0.04);
    transition: 0.3s;
    border-radius: 9.51613px;
}

#cards .container {
    padding: 16px;
}

#cards .card .container img {
    position: absolute;
    height: 250px;
    width: 275.5px;
    left: 4%;
    top: 4%;
    border-radius: 10px;
}

#cards .card .container p {
    margin-top: 260px;
    font-weight: 500;
    position: absolute;
    height: 250px;
    width: 250px;
    left: 25px;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 500;
    font-size: 12pt;
    line-height: 24px;
}

#cards .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* upcoming institues */
#upcoming {
    position: relative;
    width: auto;
    left: 0px;
    top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
}

#upcoming img {
    position: relative;
    width: 500px;
    height: auto;
    left: 85px;
    top: 60px;
    /* background: linear-gradient(179.92deg, rgba(0, 0, 0, 0.084) 0.07%, rgba(4, 60, 139, 0.4) 60.4%); */
    border-radius: 8px;
}

#upcoming .tabs {
    left: 85px;
    top: 60px;

}

#upcoming .p1 {
    position: absolute;
    height: auto;
    top: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #7D7D7D;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
}

#upcoming .line1 {
    position: absolute;
    width: .8%;
    height: 110px;
    top: 70px;
    background: #46972C;
    border-radius: 5px;
}

#upcoming .p2 {
    position: absolute;
    width: auto;
    height: auto;
    top: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #7D7D7D;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
}

#upcoming .line2 {
    position: absolute;
    width: .8%;
    height: 80px;
    top: 200px;
    background: #46972C;
    border-radius: 5px;
}

#upcoming .p3 {
    position: absolute;
    width: auto;
    height: 35%;
    top: 300px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #7D7D7D;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
}

#upcoming .line3 {
    position: absolute;
    width: .8%;
    height: 110px;
    top: 300px;
    background: #46972C;
    border-radius: 5px;
}

.tabcontent1 {
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

#upcoming .tablinks1:hover {
    color: #000000;
}